/* Utlities */
/* Mixing Botones */
/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* Base */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* Fuentes */
@font-face {
  font-family: "Lobster";
  src: url(../fonts/Lobster/Lobster-Regular.ttf); }

@font-face {
  font-family: "Cinzel";
  src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf); }

@font-face {
  font-family: "Roboto";
  src: url(../fonts//Roboto_Slab/RobotoSlab-VariableFont_wght.ttf); }

@font-face {
  font-family: "Lilita";
  src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf); }

@font-face {
  font-family: "Croissant";
  src: url(../fonts/Croissant_One/CroissantOne-Regular.ttf); }

body {
  background-color: dimgrey;
  background-image: url(../assets/images/taylor-cowling-Xzh5vzcmmHM-unsplash.jpg);
  background-size: cover;
  cursor: url(../assets/images/puntero.png), auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

/* Titulares Generales */
.titular {
  background-color: darkslategray;
  background-image: url(../assets/images/textura1.jpg);
  color: #b78300;
  text-align: center;
  margin: 10px;
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

.titularSec {
  background-color: darkslategray;
  background-image: url(../assets/images/textura1.jpg);
  color: #b78300;
  text-align: center;
  margin: 10px; }

/* Components */
/* -------------------Bootstrap ------------------*/
.bodyBoots {
  background-color: dimgrey;
  background-image: url(../assets/images/taylor-cowling-Xzh5vzcmmHM-unsplash.jpg);
  background-size: cover; }

.navBarCss {
  background-color: rgba(0, 0, 0, 0.534);
  top: 0px;
  left: 0px;
  margin: 0px; }

.navbar-nav {
  --bs-nav-link-padding-y: 0px; }

.formatoCartaBoots {
  background-image: url(../assets/images/textura2.JPG);
  background-size: 100% 100%;
  height: 60vh; }

.descargaBoots, .footerBoots {
  background-image: url(../assets/images/textura1.jpg); }

/* Layout */
/* -------------------Header ------------------*/
header {
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.295);
  z-index: 5; }
  header a img {
    /* logo */
    width: 6.75rem;
    height: 4rem;
    margin: .625rem; }
  header #toggle, header label {
    display: none; }

.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navBar ul {
    list-style: none;
    display: flex;
    gap: .9375rem; }
    .navBar ul li {
      transition: transform 250ms; }
      .navBar ul li:hover {
        transform: scale(1.1, 1.1); }
      .navBar ul li a {
        text-decoration: none;
        font-family: "Roboto";
        color: aliceblue;
        transition: color 1s; }
        .navBar ul li a:hover {
          color: #582aef; }

.ulSecundaria img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .625rem; }

.headerIndex {
  position: fixed;
  z-index: 5; }

/* -------------------Index ------------------*/
.video {
  position: relative; }
  .video video {
    width: 100%; }
  .video p {
    color: white;
    font-family: 'roboto';
    font-size: 1.875rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.433);
    top: 45%;
    left: 45%;
    border-radius: 15px;
    -webkit-animation: shake-horizontal 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
    animation: shake-horizontal 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both; }

.indexIndicadores, .personajesGoTo {
  margin: 1.875rem;
  display: flex;
  justify-content: center;
  gap: 1.25rem; }
  .indexIndicadores button, .personajesGoTo button {
    background-color: #100a2b;
    color: #ababab;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Roboto"; }
    .indexIndicadores button:hover, .personajesGoTo button:hover {
      filter: brightness(1.5); }
    .indexIndicadores button span, .personajesGoTo button span {
      color: green; }

.indexSection {
  margin: 1.875rem;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.311);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.19);
  border-radius: 15px;
  display: flex;
  align-content: center;
  overflow: hidden;
  justify-content: space-between; }

.sectionImg {
  width: 410px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sectionImg img {
    width: 410px;
    height: fit-content; }

.formatoCarta {
  background-image: url(../assets/images/textura2.JPG);
  background-size: 100% 100%;
  border-radius: .9375rem;
  width: 70%; }
  .formatoCarta h1 {
    font-family: "Cinzel";
    text-align: center;
    font-size: 2.125rem;
    margin-top: 40px; }
  .formatoCarta h2 {
    font-family: "Cinzel";
    text-align: center;
    font-size: 2.125rem;
    margin-top: 40px; }
  .formatoCarta h3 {
    text-align: center;
    font-size: 2.125rem;
    margin-top: 40px; }
  .formatoCarta p {
    font-family: "Cinzel";
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    font-size: 1.0rem;
    font-weight: bold; }
    .formatoCarta p span {
      font-size: 2rem; }

.descarga {
  margin: 20px;
  background-image: url(../assets/images/textura1.jpg);
  padding: 10px 0px;
  display: flex;
  justify-content: center; }
  .descarga button {
    font-size: 30px;
    padding: 15px 20px;
    background-color: #100a2b;
    color: #ababab;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Roboto"; }
    .descarga button:hover {
      filter: brightness(1.5); }

/* -------------------Ingresar------------------*/
.titularSuperior {
  margin-top: 3.125rem; }

.ingresarSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.311);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.19);
  border-radius: 15px;
  margin: 30px 0px; }
  .ingresarSection .sectionIngresarImg {
    width: 30%; }
    .ingresarSection .sectionIngresarImg img {
      width: 100%;
      height: fit-content; }
  .ingresarSection .ingresa {
    width: 25rem;
    height: 15.625rem;
    display: flex;
    justify-content: center; }
    .ingresarSection .ingresa:hover {
      filter: drop-shadow(0 0 0.75rem #1f02ff); }
  .ingresarSection .ingresaNuevo {
    width: 34.375rem;
    display: flex;
    justify-content: center; }
    .ingresarSection .ingresaNuevo:hover {
      filter: drop-shadow(0 0 0.75rem #1f02ff); }

.form {
  width: 100%;
  background-image: url(../assets/images/textura2.JPG);
  background-size: 100% 100%;
  border-radius: .9375rem;
  padding: .9375rem;
  display: flex;
  justify-content: center; }
  .form fieldset {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border-color: #100256; }
    .form fieldset legend {
      font-family: "lilita";
      font-size: 1.875rem;
      margin-bottom: .625rem;
      color: #100256;
      text-align: center;
      border-radius: 15px; }
    .form fieldset div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .form fieldset div label {
        text-align: center;
        font-weight: bold;
        font-size: 1.5625rem;
        color: #100256; }
      .form fieldset div input {
        width: 80%;
        color: #b78300;
        align-self: center;
        margin-bottom: .625rem;
        background-color: #212121;
        text-align: center;
        font-size: 1.25rem; }
        .form fieldset div input:focus {
          outline: none;
          background-color: #393939;
          color: white; }
      .form fieldset div p {
        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;
        color: #100256; }
      .form fieldset div .formButton {
        color: #b78300;
        background-color: #100256;
        border-radius: 15px;
        font-family: "lilita";
        letter-spacing: .1875rem;
        margin-top: .625rem; }

/* -------------------Personajes ------------------*/
.personajesGoTo a button {
  background-color: #100a2b;
  color: #ababab;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Roboto"; }
  .personajesGoTo a button:hover {
    filter: brightness(1.5); }

.selPersonajesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 15.5% 20.5% 26.5% 20.5% 13.5%;
  grid-template-rows: 50px 300px; }
  .selPersonajesContainer h2 {
    grid-column: 1/6;
    grid-row: 1/2; }

.personajesSelecElf {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center; }
  .personajesSelecElf:hover {
    filter: drop-shadow(0 0 0.75rem crimson); }
  .personajesSelecElf img {
    width: 100%;
    height: fit-content; }

.personajesSelecDw {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center; }
  .personajesSelecDw:hover {
    filter: drop-shadow(0 0 0.75rem crimson); }
  .personajesSelecDw img {
    width: 100%;
    height: fit-content; }

.personajesSelecDk {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: center; }
  .personajesSelecDk:hover {
    filter: drop-shadow(0 0 0.75rem crimson); }
  .personajesSelecDk img {
    width: 100%;
    height: fit-content; }

.personajesSelecMg {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: center; }
  .personajesSelecMg:hover {
    filter: drop-shadow(0 0 0.75rem crimson); }
  .personajesSelecMg img {
    width: 100%;
    height: fit-content; }

.personajesSelecSum {
  grid-column: 5/6;
  grid-row: 2/3;
  align-self: center; }
  .personajesSelecSum:hover {
    filter: drop-shadow(0 0 0.75rem crimson); }
  .personajesSelecSum img {
    width: 100%;
    height: fit-content; }

/* Habilidades */
#Habilidades {
  height: 60vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(4, 1fr);
  margin: 1.875rem;
  background-color: rgba(0, 0, 0, 0.311);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.19);
  border-radius: 15px; }

.textoHabilidades {
  grid-row: 1/4;
  grid-column: 1/2;
  background-image: url(../assets/images/textura2minus.jpg);
  background-size: 100% 100%; }
  .textoHabilidades h2 {
    font-family: "Cinzel";
    text-align: center;
    font-size: 2.125rem;
    margin-top: 40px; }
  .textoHabilidades p {
    font-family: "Cinzel";
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    font-size: 1.0rem;
    font-weight: bold; }

.selecHabilidades {
  margin-bottom: 1.8rem;
  grid-row: 4/5;
  grid-column: 1/2;
  justify-self: center;
  align-self: center; }
  .selecHabilidades button {
    background-color: #100a2b;
    color: #ababab;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Roboto"; }
    .selecHabilidades button:hover {
      filter: brightness(1.5); }

.habilidadesImg {
  width: 100%;
  grid-row: 1/5;
  grid-column: 2/3;
  align-self: center; }
  .habilidadesImg img {
    width: 90%;
    height: auto; }

/* Estadisticas */
#Estadisticas {
  height: 60vh;
  margin: 1.875rem;
  background-color: rgba(0, 0, 0, 0.311);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.19);
  border-radius: 15px;
  display: flex; }

#estadisticasTabla {
  width: 50%;
  margin: .9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

table, td {
  margin: 0 10% 10% 10%;
  text-align: center;
  font-weight: bold;
  border: black 1px solid; }

td {
  margin: 0px; }

/* Histograma */
#histograma {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.875rem;
  font-size: 1.875rem;
  padding: 3.125rem;
  margin: .9375rem; }

.histContainer {
  display: flex; }
  .histContainer div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; }

#histFuerza {
  width: 20px;
  height: 100px; }

#histAgilidad {
  width: 20px;
  height: 50px; }

#histMana {
  width: 20px;
  height: 80px; }

#histStamina {
  width: 20px;
  height: 30px; }

/* -------------------Eventos ------------------*/
#proximosEventos {
  width: 100%;
  height: 40vh;
  margin: 10px;
  display: flex;
  justify-content: center; }
  #proximosEventos div {
    display: flex;
    justify-content: center;
    padding: .9375rem; }
    #proximosEventos div table, #proximosEventos div td {
      margin-top: 1.875rem; }

.eventoImg {
  border-radius: 50%;
  overflow: hidden;
  width: 31.25rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .9375rem; }
  .eventoImg img {
    width: 100%;
    height: fit-content; }

/* -------------------Compras ------------------*/
.gridCompras {
  display: grid;
  grid-template-columns: 400px repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 30px 15px;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.19);
  border-radius: 15px;
  background-image: url(../assets/images/textura2.JPG);
  background-size: 100% 100%; }

.personajeGrandeCompras {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center; }
  .personajeGrandeCompras img {
    width: 100%;
    height: fit-content; }

.seleccionItem {
  grid-column: 2/4;
  grid-row: 1/2;
  border-radius: .9375rem;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr); }
  .seleccionItem .tipoPersonaje h2 {
    font-size: 1.875rem; }

.personajeCompras, .items img {
  width: 50px;
  height: 40px; }

.items {
  grid-column: 1/2;
  grid-row: 2/4; }
  .items img {
    transition: 250ms; }
    .items img:hover {
      filter: brightness(1.5);
      transform: scale(1.3, 1.3); }

.tipoPersonaje {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: .9375rem; }
  .tipoPersonaje img {
    transition: 250ms; }
    .tipoPersonaje img:hover {
      filter: brightness(1.5);
      transform: scale(1.3, 1.3); }
  .tipoPersonaje h2 {
    font-size: 1.5rem; }

.transaccion {
  height: 2.5rem;
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: center;
  display: flex;
  justify-content: end;
  gap: .9375rem; }
  .transaccion button {
    height: 2.5rem;
    font-family: "lilita";
    font-size: 1.5625rem;
    background-color: rgba(16, 210, 42, 0.501);
    color: black;
    padding: 5px 10px;
    border-radius: 5px; }
    .transaccion button:hover {
      filter: brightness(1.5); }
  .transaccion p {
    font-family: "lilita";
    margin-top: .625rem;
    font-size: 1.5625rem; }

/* -------------------Footer ------------------*/
footer {
  width: 100%;
  padding: 30px;
  background-color: #100a2b;
  background-image: url(../assets/images/textura1.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  footer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer div .listFooter {
      display: flex;
      align-items: center; }
      footer div .listFooter ul {
        list-style: none;
        margin-left: 1.875rem; }
        footer div .listFooter ul li a {
          text-decoration: none;
          color: #c4c3c3;
          font-size: 1.25rem; }
    footer div .imgFooter {
      display: flex;
      justify-content: center;
      background-image: url(../assets/images/backlogotipo.png);
      background-size: 9rem 9rem;
      background-repeat: no-repeat;
      background-position: center; }
      footer div .imgFooter img {
        width: 6.75rem;
        height: 4rem;
        margin: .625rem; }
    footer div .contactoFooter {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: .9375rem; }
  footer p {
    margin-top: .9375rem;
    color: #c4c3c3;
    font-size: 1rem; }

/* -------------------Media 990 (Boots)------------------*/
@media only screen and (max-width: 990px) {
  .liBoots {
    text-align: center; }
    .liBoots a {
      width: 100%; }
    .liBoots img {
      display: none; }
  /* index */
  .video p {
    left: 42%;
    font-size: 1.5625rem; }
  /* Ingresar */
  #ingresarDesaparece {
    display: none; }
  .form fieldset legend {
    font-size: 1.5625rem; }
  .form fieldset div label {
    font-size: 1.25rem; }
  .form fieldset div input {
    font-size: 1rem; }
  .form fieldset div p {
    font-size: 1.25rem; }
  .form fieldset div .formButton {
    font-size: 1rem; }
  .ingresarSection .ingresaNuevo {
    width: auto; }
  #imgIngresoNuevo {
    width: 40%; }
    #imgIngresoNuevo img {
      width: 100%;
      height: fit-content; }
  /* Compras */
  .gridCompras .tipoPersonaje h2 {
    font-size: 1.5625rem; } }

/* -------------------Media 850 ------------------*/
@media only screen and (max-width: 850px) {
  /* Index */
  .indexSection {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap; }
  #indexSectionEventos {
    flex-direction: column; }
  .sectionImg {
    margin: 0px; }
  .descarga button {
    font-size: 1.25rem;
    padding: 10px 15px; }
  /* Compras */
  .gridCompras {
    background-image: url(../assets/images/textura2.JPG);
    background-size: 100% 100%; }
  .seleccionItem {
    background-color: transparent;
    background-image: none; }
  /* Personajes */
  .selPersonajesContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr); }
    .selPersonajesContainer h2 {
      grid-column: 1/5;
      grid-row: 1/2;
      padding: 20px; }
  .personajesSelecElf {
    grid-column: 3/4;
    grid-row: 2/5;
    align-self: center;
    width: 70%; }
  .personajesSelecDw {
    grid-column: 4/5;
    grid-row: 2/5;
    align-self: center; }
  .personajesSelecDk {
    grid-column: 1/3;
    grid-row: 2/8;
    align-self: center; }
  .personajesSelecMg {
    grid-column: 3/4;
    grid-row: 5/8;
    align-self: center; }
  .personajesSelecSum {
    grid-column: 4/5;
    grid-row: 5/8;
    align-self: center;
    width: 70%; }
  /* Habilidades */
  #Habilidades {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
  .textoHabilidades {
    grid-row: 1/5;
    grid-column: 1/2; }
  .selecHabilidades {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .habilidadesImg {
    grid-column: 2/3;
    grid-row: 1/4; }
  /* Estadisticas */
  #Estadisticas {
    flex-direction: column;
    height: auto; }
  #estadisticasTabla {
    width: 100%;
    margin: 15px 0px; }
  #histograma {
    width: 100%;
    margin: 15px 0px; } }

/* -------------------Media 755 ------------------*/
@media only screen and (max-width: 755px) {
  /* Compras */
  .gridCompras {
    height: 70vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .personajeGrandeCompras {
    grid-column: 1/4;
    grid-row: 1/5;
    align-self: center;
    width: 100%;
    height: 100%; }
    .personajeGrandeCompras img {
      width: fit-content;
      height: 80%;
      margin-top: 20%; }
  .seleccionItem {
    grid-column: 1/5;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .tipoPersonaje {
    grid-column: 1/5;
    grid-row: 5/6; }
  .items {
    grid-column: 3/5;
    grid-row: 1/5;
    overflow-y: scroll;
    margin-top: 1.875rem; }
  .transaccion {
    height: 2.5rem;
    grid-column: 1/5;
    grid-row: 6/7; } }

/* -------------------Media 670 ------------------*/
@media only screen and (max-width: 670px) {
  /* Ingresar */
  .ingresarSection .ingresa {
    width: 15rem; }
  .ingresarSection .ingresaNuevo {
    width: 15rem; }
  #imgIngresoNuevo {
    width: 50%; }
  /* footer */
  footer div {
    flex-direction: column;
    align-items: center; }
    footer div .listFooter {
      flex-direction: row;
      justify-content: center; }
      footer div .listFooter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px; }
    footer div .imgFooter {
      flex-direction: row;
      justify-content: center;
      margin: 1.25rem; }
    footer div .contactoFooter {
      flex-direction: row;
      justify-content: center; } }

/* -------------------Media 580 ------------------*/
@media only screen and (max-width: 580px) {
  /* Eventos */
  .eventoImg {
    width: 100%; }
    .eventoImg img {
      width: 100%; } }

/* -------------------Media 576 (Boots) ------------------*/
@media only screen and (max-width: 576px) {
  .sectionIndexBoots {
    flex-direction: column-reverse; }
  #indexSectionEventosBoots {
    flex-direction: column; } }

/* -------------------Media 540 ------------------*/
@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
    align-items: center; }
  /* -----------------Index-------------- */
  .indexIndicadores, .personajesGoTo {
    flex-direction: column;
    align-items: center; }
    .indexIndicadores button, .personajesGoTo button {
      width: 18.75rem; }
  .video p {
    left: 35%;
    font-size: 1.25rem; }
  .formatoCarta {
    width: 100%; }
    .formatoCarta h1 {
      font-size: 1.6rem; }
    .formatoCarta h2 {
      font-size: 1.6rem; }
    .formatoCarta h3 {
      font-size: 1.6rem; }
  .sectionImg {
    width: 70%; }
    .sectionImg img {
      width: 100%;
      margin: 10px; }
  /* Ingresar*/
  .ingresarSection {
    flex-direction: column-reverse;
    align-items: center; }
    .ingresarSection .ingresa {
      width: 90%; }
    .ingresarSection .ingresaNuevo {
      width: 90%; }
    .ingresarSection .sectionIngresarImg {
      width: 70%; }
  #creaUsuario {
    flex-direction: column; }
  #imgIngresoNuevo {
    width: 90%; }
  /* Compras */
  .personajeGrandeCompras {
    padding-top: 3.125rem; }
    .personajeGrandeCompras img {
      width: 100%;
      height: fit-content; } }

/* -------------------Media 420 ------------------*/
@media only screen and (max-width: 420px) {
  /* Menu Hamburguesa */
  .navBar {
    display: none;
    flex-direction: column; }
    .navBar ul {
      flex-direction: column;
      align-items: center;
      gap: 5px; }
  .ulSecundaria img {
    display: none; }
  header {
    flex-direction: column;
    height: auto; }
    header #toggle:checked ~ .navBar, header label:checked ~ .navBar {
      height: auto;
      display: block;
      width: 100%; }
    header label {
      display: flex;
      position: fixed;
      top: 30px;
      right: 30px; }
  /* Index */
  .indexSection {
    margin: 1rem; }
  .video p {
    left: 35%;
    font-size: 1rem;
    margin-top: .625rem; }
  /* Eventos */
  #proximosEventos div {
    width: 90%; }
  /* Personajes */
  .personajesGoTo {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem; }
    .personajesGoTo a button {
      width: 18.75rem; }
  .selPersonajesContainer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 30px repeat(4, 1fr); }
    .selPersonajesContainer h2 {
      grid-column: 1/3;
      grid-row: 1/2;
      padding: 0px;
      margin: 0px; }
  .personajesSelecElf {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    width: 70%; }
  .personajesSelecDw {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center; }
  .personajesSelecDk {
    grid-column: 1/2;
    grid-row: 2/6;
    align-self: center; }
  .personajesSelecMg {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center; }
  .personajesSelecSum {
    grid-column: 2/3;
    grid-row: 5/6;
    align-self: center;
    width: 70%; }
  #Habilidades {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 1rem; }
  .textoHabilidades {
    grid-row: 5/9;
    grid-column: 1/4; }
  .selecHabilidades {
    grid-column: 1/2;
    grid-row: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .habilidadesImg {
    grid-column: 2/4;
    grid-row: 1/5; }
  #Estadisticas {
    margin: 1rem; }
  #estadisticasTabla {
    padding: 0%; }
  #histograma {
    padding: 0%; }
  /* Compras */
  .gridCompras {
    height: 50vh; }
    .gridCompras .seleccionItem .tipoPersonaje h2 {
      font-size: 1.25rem; }
    .gridCompras .transaccion {
      flex-direction: column; }
      .gridCompras .transaccion button {
        font-size: 1.25rem; }
      .gridCompras .transaccion p {
        font-size: 1.25rem; }
  .personajeGrandeCompras {
    padding-top: 0px; }
    .personajeGrandeCompras img {
      margin-top: 10px;
      height: 80%;
      width: 120%; } }
