/* Mixing Botones */


@mixin botonesFormato($backColor,$letColor,$paddYX,$borRad,$fontFam){
    background-color: $backColor;  
    color:$letColor;  
    padding: $paddYX;
    border-radius: $borRad;
    font-family: $fontFam;
}