/* -------------------Footer ------------------*/

footer{
    padding: 30px;
    background-color: rgb(16, 10, 43);
    background-image: url(../assets/images/textura1.jpg);
    display: flex;
    justify-content: end;
    gap: .9375rem;
}