/* -------------------Media 990 (Boots)------------------*/
@media only screen and (max-width: 990px ){
    .liBoots {
        text-align: center;
        a{
            width: 100%;
        }
        img{
            display: none;
        }
    }
}