/* -------------------Media 540 ------------------*/

@media only screen and (max-width: 540px ){

    header{
        flex-direction: column;
        align-items: center;
    }

    /* -----------------Index-------------- */
    .indexIndicadores{
        flex-direction: column;
        align-items: center;
        button{
            width: 18.75rem;
        }
    }

    .video{
        p{
            left: 35%;
            font-size:1.25rem ;
        }
    }

    .formatoCarta{
        width: 100%;
        h1{
            font-size: 1.6rem;
        }
        h2{
            font-size: 1.6rem;
        }
        h3{
            font-size: 1.6rem;
        }
    } 
    
    .sectionImg{
        width: 70%;
        img{
            width: 100%;
            margin: 10px;
        }
    }

    /* Ingresar*/
    .ingresarSection{
        flex-direction: column-reverse;
        align-items: center;
        .ingresa{
            width: 90%;
        }
        .ingresaNuevo{
            width: 90%;
        }
        .sectionIngresarImg{
            width: 70%;
        }
    }
    
    #creaUsuario{
        flex-direction: column;
    }

    #imgIngresoNuevo{
        width: 90%;
    }
    /* Compras */

    .personajeGrandeCompras{
        padding-top: 3.125rem ;
        img{
            width: 100%;
            height: fit-content;
        }
    }
}
