.body404{
    background-image: none;
    background-color: rgb(255, 244, 215);
    height: 100vh;
    main{
        section{
            
            div:nth-child(1){
                padding-left: 35%;
                margin: 30px;
                p{
                    margin: .3125rem;
                    color: rgb(81, 81, 81);
                    span{
                        font-weight: bold;
                        color: rgb(53, 53, 53);
                    }
                }
            }
            div:nth-child(2){
                display: flex;
                justify-content: center;
                margin: 30px;
                img{
                    width: 25rem;
                    height: 25rem;
                    &:hover{
                        filter: drop-shadow(0 0 2rem rgb(194, 127, 11));
                    }
                }
            }
        }
    }
}