body{
    background-color: dimgrey;
    background-image: url(../assets/images/taylor-cowling-Xzh5vzcmmHM-unsplash.jpg);
    background-size: cover;
    cursor: url(../assets/images/puntero.png) ,  auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 

/* Titulares Generales */

.titular{
    background-color: darkslategray;
    background-image: url(../assets/images/textura1.jpg);
    color: map-get($colores , naranja);
    text-align: center;
    margin: 10px;
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.titularSec{
    background-color: darkslategray;
    background-image: url(../assets/images/textura1.jpg);
    color: map-get($colores , naranja);
    text-align: center;
    margin: 10px;
}

