/* Fuentes */
@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: "Cinzel";
    src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts//Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Lilita";
    src: url(../fonts/Lilita_One/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: "Croissant";
    src: url(../fonts/Croissant_One/CroissantOne-Regular.ttf);
}
